# dependencies
node_modules

# testing
coverage
.storybook
jest

# production
build

# misc
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
.env
.env.staging
npm-debug.log
